form a,
form button {
  margin-left: 15px;
}

.buttons {
  display: inline;
}

label,
.form-control {
  margin-left: 15px;
}

.num_players {
  display: inline-block;
}

.game_label {
  font-size: 20px;
  font-weight: bold;
}

.show_game {
  margin: 10px;
}
